h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  margin-left: 10px;
}
.error {
  color: red;
}
.loader {
  position: absolute;
  left: calc(100% / 2);
  top: 50px;
}
